* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    width: 85%;
    height: 10vh;
    margin: auto;
    align-items: center;
    background-color: chocolate;
}
.logo-container, .nav-links{
    display: flex;
}
.logo-container {
    flex: 1;
}
.logo {
    font-weight: 500;
    margin: 5px;
    width: 30%;
}
nav {
    flex: 2;
}
.nav-links {
    justify-content: space-around;
    list-style: none;
}
.nav-link {
    font-size: 18px;
}
td{
    text-align: left;
}
.container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%
}
td{
    text-align: left;
    padding: 5px;
    margin: 10px;

}
tr{
    text-align: left;
}

footer {
    height: 3vh;
    margin: auto;
    align-items: center;
    background-color: chocolate;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex: 2;
}
