.container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 35px;
}
td{
    text-align: left;
    padding: 5px;
    margin: 10px;
}
tr{
    justify-content: space-around;
    text-align: left;
}

.contactTable{
    font-size: 1.5rem; 
}

.contactUs{
    display: block;
}

form{
    float: left;
    padding: 5px;
    margin: 5px;
}

input{
    padding: 10px;
    margin: 10px;
    display: block;
}
button{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-color: black;
    width: 100px;
    text-align: center;
    float: right;
}
button:hover{
    cursor: pointer;
}
.message{
    content: "\a";
    white-space: pre;
}

.foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    max-height: 110px;
}

