.container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 35px;
}
td{
    text-align: left;
    padding: 5px;
    margin: 10px;
}
tr{
    justify-content: space-around;
    text-align: left;
}

.contactTable{
    font-size: 1.5rem; 
}

.foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    max-height: 110px;
}

