.Schedule{
    align-items: center;
    width: 75%;
    min-width: 320px;
    margin-left: 12.5%;
    margin-bottom: 2%;
}
th,td{
    width: 25%;
    font-size: ;
    text-align: center;
    padding-top: 2%;
    font-size: 20px;
}