


.Schedule{
    align-items: center;
    width: 75%;
    min-width: 320px;
    margin-left: 12.5%;
    margin-bottom: 2%;
}
th,td{
    width: 25%;
    font-size: 1.4vw;
    text-align: center;
    padding-top: 2%;
    border: 2px solid transparent;
}

tr{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

p{
    text-align: center;
    margin: 10px;
    font-size: 1.4vw;
}

@media screen and (max-width:500px){
    th, td{
    width: 30%;
    font-size: 1.7vw;
    }
}

@media screen and (min-width:1022px){
.hamburger{
    display:none;
}
}

@media screen and (max-width:1023px){

    header{
        height: 6vh;
    }
    
    .hamburger img{
        margin: 0;
        top: 0;
        height: 3vh;
        padding-right: 10px;
        display: block;
    }
    
    nav{
        display: none;
    }
    
}
