

.tittel {
text-align: center;
}

.osas {
    
}

.staff1 {
    position: absolute;
    display: flex;
    flex: 6;
    top: 20;
    left: 0;
    margin-top: 5%;
    margin-left: 10%;


}

.staff2 {
    position: absolute;
    display: flex;
    flex: 7;
    top: 20;
    right: 0;
    margin-top: 5%;
    margin-right: 10%;
}

.staff3{
    position: absolute;
    display: flex;
    flex: 8;
    top: 20;
    right: 0;
}

li{
    list-style: none;
}

.foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    max-height: 110px;

}