.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 8px;
    margin-top: 30px;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}



  .column2 {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 8px;
    margin-top: 30px;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  @media screen and (max-width: 650px) {
    .column2 {
      width: 100%;
      display: block;
    }
  }

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  
  .title {
    color: grey;
  }
  

.foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    max-height: 110px;

}