.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 8px;
  margin-top: 30px;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.column2 {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 8px;
  margin-top: 30px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .column, .column2 {
    width: 100%;
    display: block;
  }
}


.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
  color: grey;
}
