

.tittel {
text-align: center;
}

.staff{
    display: flex;
    flex: 1;
    flex-shrink: inherit;
    max-width: 80%;
}

.staff1 { 
    position: absolute;
    top: 20;
    left: 0;
    margin-top: 5%;
    margin-left: 21.5%;
    text-align: center;
}

.staff2 {
    position: absolute;
    top: 20;
    right: 0;
    margin-top: 5%;
    margin-right: 30%;
    text-align: center;
}

.staff3{ 
    position: absolute;
    top: 20;
    right: 0;
    margin-top: 25%;
    margin-right: 25%;
    text-align: center;
}

.staff4{
    max-width:100%; 
    height:auto; 
    position: absolute;
    top: 20;
    left: 0;
    margin-top: 25%;
    margin-left: 30%;
    text-align: center;
}

li{
    list-style: none;
}

.foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    max-height: 110px;

}