* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
#title{
    font-size: 35px;
}
#text{
    font-size: 18px;
}

/* ----- Nav start ----- */

header {
    display: flex;
    width: 85%;
    height: 10vh;
    margin: auto;
    align-items: center;
    background-color: #d8560038;
}

.logo-container, .nav-links {
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo {
    margin: 8px 0px 0px 20px;
    width: 130px; 
}

nav {
    flex: 3;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    font-size: 18px;
    padding: 10px;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 6px;
}

.nav-link:hover {
    border: 2px solid salmon
}
.nav-main {
    color: white;
    background: black;
    border: 2px solid transparent;
    border-radius: 6px;
    font-size: 18px;
    padding: 10px;
}

.hamburger img {
    float: right;
    height: 3vh;
    cursor: pointer;
}
.hamburger {
    display: none;
}

/* ------------- Nav end ------------------- */

/* ------------- Main start ------------- */

.presentation {
    display: flex;
    width: 60%;
    margin: auto;
    height: 80vh;
    align-items: center;
}

.intro {
    flex: 1;
    margin-right: 25px;
}

.intro-text h2 {
    height: 100%;
    font-size: 40px;
    font-weight: 800;
}

.intro-text p {
    margin-top: 5px;
    font-size: 18px;
}

.cta-select {
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background: transparent;
    color: black;
    width: 20%;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
}

.cta-select:hover {
    border: 2px solid salmon;
}

.idea-bulb {
    position: absolute;
    top: 17%;
    right: 10vw;
    z-index: -1;
    height: 60%;
    opacity: 0.05;
}

/* ------------- Main end --------------- */

/* ------------- Footer start ------------ */

footer {
    display: flex;
    height: 4vh;
    margin: auto;
    align-items: center;
    background-color: #d8560038;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4%;
    font-size: 1.3vw;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex: 2;
    color: rgb(0, 0, 0);
}

/* ------------- Footer end ------------ */