* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}

/* ----- Nav start ----- */

header{
    display: flex;
    width: 85%;
    height: 10vh;
    margin: auto;
    align-items: center;
    background-color: #EFEFEF;
}
.logo-container, .nav-links{
    display: flex;
}
.logo-container {
    flex: 1;
}
.logo {
    font-weight: 500;
    margin: 5px;
    width: 30%;
    background-color: white;
}
nav {
    flex: 3;
}
.nav-links {
    justify-content: space-around;
    list-style: none;
}
.nav-link {
    font-size: 18px;
    padding: 10px;
    background-color: white;
}
.nav-main{
    color: white;
    background: black;
    font-size: 18px;
    padding: 10px;
}

/* ------------- Nav end ------------------- */
/* ------------- Main start ------------- */
.presentation {
    background-color: ghostwhite;
    display: flex;
    width: 90%;
    margin: auto;
    height: 80vh;
    align-items: center;
}
.intro{
    flex: 1;
    margin-right: 25px;
}
.intro-text h2{
    height: 100%;
    font-size: 40px;
    font-weight: 800;
}
.intro-text p{
    margin-top: 5px;
    font-size: 18px;
}

.cta{
    padding: 50px 0px 0px 0px;
}
.cta-select{
    border: 2px solid black;
    background: transparent;
    color: black;
    width: 20%;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
}

.cover-pic{
    flex: 1;
    justify-content: center;
    height: 60vh;
    margin: auto;
}
.cover-pic img{
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 5px 3px black);
}

/* ------------- Main end --------------- */
/* ------------- Footer start ------------ */

footer {
    height: 4vh;
    margin: auto;
    align-items: center;
    background-color: #d85600af;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex: 2;
    color: rgb(0, 0, 0);
}

/* ------------- Footer end ------------ */