* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    width: 85%;
    height: 10vh;
    margin: auto;
    align-items: center;
}
.logo-continer, .nav-links{
    display: flex;
}
